@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Signika:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-grey: #c4c4c4;
  --clr-grey-2: #8f8f8f;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.nav__brand {
  display: flex;
  align-items: center;

  padding: 30px 75px;

  grid-column: 1 / span 3;
}

.nav__brand img {
  max-width: 125px;
  margin-right: 10px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-black);

  font-family: "Signika";
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -1px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav__links li {
  margin: 0 10px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-grey-2);
  font-weight: 600;
}

.nav__links li a:hover {
  color: var(--clr-black);
}


/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./assets/browser.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: var(--clr-grey);
  min-height: 50vh;

  position: relative;
  padding: 20px;
}

.header__subtitle,
.header__title {
  color: var(--clr-black);
  max-width: 450px;
}

.header__subtitle {
  padding-top: 15px;

  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.header__title {
  font-family: "Merriweather";
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
}

.header__search {
  display: flex;
}

.header__input {
  margin-left: 75px;
  height: 60px;
  padding: 0 20px;
  min-width: 30%;
  border: none;
}

.app-input {
  height: 60px;
  padding: 0 20px;
  min-width: 30%;
  border: none;
  border: 1px solid var(--clr-black);
  width: 100%;
}

.mt-30 {
  margin-top: 30px;
}

.w-100 {
  width: 100%;
}

button {
  height: 60px;

  background-color: var(--clr-black);
  color: var(--clr-white);

  border: none;

  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.header__button:hover {
  background-color: var(--clr-grey-2);
}

.header__search::placeholder {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.cards__section h2 {
  margin-top: 50px;

  font-family: "Merriweather";
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;

  text-align: center;
}

.cards__section p {
  margin: 10px auto 25px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  width: 90%;
  max-width: 800px;
  height: 60px;

  border: 1px solid var(--clr-black);
  margin: 25px auto;
  padding-left: 25px;

  position: relative;

  transition: all 250ms ease;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-card .ant-card-actions>li:not(:last-child) {
    border-inline-end: none !important;
}

.domain-card {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* ------------------------------------------------------ */
/* -- MEDIA QUERIES -- */

@media screen and (max-width: 1200px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__brand {
    grid-column: 1;
  }

  .nav__links {
    display: none;
  }

  header {
    background-image: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__brand {
    padding: 30px 50px;
  }

  header {
    padding: 20px;
  }

  .header__subtitle {
    margin: 0 0 15px 11px;
  }

  .header__title {
    margin: 0 0 30px 1px;
  }

  .header__input {
    margin: 0 0 30px 11px;
  }
}
